---
import Button from "./Button.astro"

const { product } = Astro.props;
---

<section class="card">

<a href={`/product/${product.id}`} class="card-link">

    <img
      src={product.image}
      alt="Blazer"
    />

    <div class="content">
      <p class="brand">{product.brand}</p>
      <h2>{product.name}</h2>
      <p class="price">{product.price} DKK </p>
    </div>

  </a>

  <section
    class="button-test add-to-cart"
    data-brand={product.brand}
    data-name={product.name}
    data-price={product.price}
    data-size={product.size}
    data-image={product.image}
  >
    <Button
      size={product.size}
      text="ADD TO BAG"
      variant="light"
    />
  </section>

</section>

<style>
  .card {
    width: 349px;
    background: white;
  }

.card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.card-link h2,
.card-link p {
  color: inherit;
  text-decoration: none;
}
  .card img {
    width: 100%;
    height: 423px;
    object-fit: cover;
    object-position: center;
    display: block;
  }

  .content {
    padding: 10px 0 0;
  }

  .brand {
    font-size: 10px;
    color: gray;
    letter-spacing: 1px;
    margin: 0 0 10px;
  }

  .content h2 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 18px;
  }

  .price {
    font-size: 18px;
    margin: 0 0 18px;
  }
</style>